# Node.js / React Native
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# React Native
./gradle
.expo/
.expo-shared/
android/app/build/
android/build/
ios/build/
ios/Pods/
*.xcworkspace
*.xcodeproj
*.xcuserdata
*.xcuserstate
*.DS_Store

# Java / Maven / Spring Boot
backend/target/
*.iml
*.class
*.jar
*.war
*.ear

backend/src/main/resources/serviceAccountKey.json
MOU_LipiPrint_Aaditya.html
Nimbuspost Partners API.postman_collection.json
# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.orig

# Misc
.env
.env.*

# Excel/other local files
Lipi Print -  Single Page Costing.xlsx

# Build artifacts
frontend/android/app/.cxx/
frontend/android/app/build/ 